body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
#titolo {
    font-size:xx-large;
    color: firebrick;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007acc;
}

a:hover {
    color: #005f99;
}

#binario {
    position: relative;
    width: 500px;
    height: 50px;
    background-color: #ddd;
    margin: 20px auto;
    border: 1px solid #999;
}

#quadrato {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    top: 10px;
}

#fotocellula {
    position: absolute;
    width: 2px; /* Linea sottile */
    height: 50px; /* Altezza del binario */
    background-color: black;
    right: 50px; /* Posizione sul lato destro */
}

#metro, #cronometro {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
/* Stile per la copertina */
.cover {
    position: relative;
    width: 100%;
    height: 50vh; /* Altezza della copertina */
    background-image: url(../Immagini/DALL·E\ 2024-12-03\ 09.28.53\ -\ A\ dynamic\ and\ modern\ cover\ image\ with\ a\ scientific\ theme\ focused\ on\ physics\,\ incorporating\ elements\ like\ formulas\,\ a\ glowing\ atom\,\ abstract\ representa.jpg); /* Inserisci qui il link dell'immagine */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cover .title {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

